
/* commons */
a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display:block;
  border-radius: 45px;
  transition: opacity 0.7s;
}

.btn:hover, .nav-left:hover {
  opacity: 0.8;
  pointer-events: auto;
}

.containers {
  display: flex;
  flex-direction : column;
  align-items: center;
  justify-content: center;
}

body {
   position: relative;
 }
/* float-btn */
.float-btn {
  position: fixed;
  top: 85%;
  right: 3%;
  z-index: 10;
}

.float-btn img{
  width: 380px;
}

/* head top */
header {
  height: auto;
  padding-bottom: 10px;
  background-image: url("https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg"); 
  background-size: 1650px;
  background-position: 100% 0%;
  position: relative;
 } 

 .head-top {
  height: 60px;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  display: flex;
}
.nav-left {
  transition: opacity 0.7s;
}
.head-img {
  height: 20px;
  width: auto;
}

nav {
  height: 100%;
  width: auto;
  margin-right: 50px;
}

.head-nav  div {
  text-align: center;
  font-weight: bold;
}

.head-nav div:first-child {
  font-size: 13px;
 }
.head-nav div:nth-child(2) {
  font-size: 10px;
 }

.head-btn {
  font-size: 12px;
  background-color: #F79214;
  padding: 12px 18px;
  color:honeydew;
}
.nav-right-tab {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30px;
  height: 40px;
  margin-right: 10px;
}
.nav-right-tab-bar {
  display: block;
  width: auto;
  height: 3px;
  background-color: black;
  border-radius: 50px;
}

/* head bottom */
.head-backimg-sm {
  width: 100%;
  position:absolute;
  top: 60px;
  right: 0;
}
.head-bt-cont {
  z-index: 1;
}

.head-bt-left {
  width:500px;
  display: flex;
  flex-direction: column;
}

.head-bt-title  {
  display: inline-block;
  padding-top: 30px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.head-bt-img {
  padding-top: 30px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-bt-img img:nth-child(1), img:nth-child(3) {
  width: 25%;
}

.head-bt-img img:nth-child(2){
  width: 40%;
}

.head-bt-btn  {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.head-bt-btn a:first-child {
  padding: 17px 40px;
  color:white;
  background-color:#F79214; 
} 

.head-bt-btn a:nth-child(2) {
  padding: 17px 40px;
  background-color:white; 
  border: 1px solid  #E0E0E0;
}

.head-bt-coment {
  color: #A2A2A4;
  opacity: 0.7;
  line-height: 14px; 
  font-size: 11px;  
  padding-top: 70px; 
}

/* sec1 POTEPANとは */
.sec1 {
  background-color: #F79214;
  color:white;
  height: auto;
  padding: 50px 0px;
}

.sec1-cont {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec1-coment {
  width: 550px;
}
.sec1-coment h2 {
  font-size: 40px;
  padding-bottom: 20px;
}
.sec1-btn{
  font-weight: bold;
  font-size: 21px;
  background-color: white;
  color:#F79214;
  padding: 10px 70px;
  text-align: center
}
.sec1-btn p:nth-child(2) {
  font-size: 12px; 
}

/* @mediaクエリ */
/* パソコン */
@media( min-width:1101px) {
  .container {
    width: 1000px;
   }

  .head-top {
    padding: 20px 30px;
  }
}
/* タブレット */
@media( max-width:1100px) {
  .container {
    width: 100%;
    padding: 0px 50px;
  }
  header {
    background-position: 70% -30%;
  }
  .head-top {
    background-color: white;
  }

  .nav-right {
    display: none;
  
  }
}
@media(min-width:1101px) {
  .nav-right-tab {
    display: none; 
  }
}
@media(max-width:950px) {
  .sec1-cont {
    flex-direction: column;
    height: 250px;
  }
}
/* スマートフォン */
@media(min-width:601px) {
  .head-backimg-sm {
    display: none;
  }
}

@media(max-width:600px) {
  .float-btn {
    position: fixed;
    right: 0px;
    width: 100%;
    background-color:white;
  }
  
  .float-btn img{
    width: 100%;
  }

  .container {
    padding: 0px 10px ;
  }
  header {
    background-image: none;
  }
  .head-bt-cont {
    margin-top: 300px;  
  }
  .head-bt-title {
    font-size: 20px;
  }
  .head-bt-btn {
    flex-direction: column;
    text-align: center;
  }
  .head-bt-left {
    width: 100%;
  }
  .sec1 {
    padding: 50px  0px;
  }
  .sec1-coment {
    width: auto;
  }
  .sec1-coment h2 {
    font-size: 30px;
    text-align: center;
  }

}