
/* commons */
a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display:block;
  border-radius: 45px;
  transition: opacity 0.7s;
}

.btn:hover, .nav-left:hover {
  opacity: 0.8;
  pointer-events: auto;
}

.containers {
  display: flex;
  flex-direction : column;
  align-items: center;
  justify-content: center;
}

body {
   position: relative;
 }
/* float-btn */
.float-btn {
  position: fixed;
  top: 50%;
  right: 3%;
  z-index: 10;
}

.float-btn img{
  width: 380px;
}

/* sec1 top */
.sec1 {
  height: auto;
  padding-bottom: 10px;
  background-image: url("https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg"); 
  background-size: 1650px;
  background-position: 100% 0%;
  position: relative;
 } 

 .head-top {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  display: flex;
}
.nav-left {
  transition: opacity 0.7s;
}
.head-img {
  height: 20px;
  width: auto;
}

nav {
  height: 100%;
  width: auto;
  margin-right: 50px;
}

.head-nav  div {
  text-align: center;
  font-weight: bold;
}

.head-nav div:first-child {
  font-size: 13px;
 }
.head-nav div:nth-child(2) {
  font-size: 10px;
 }

.head-btn {
  font-size: 12px;
  background-color: #F79214;
  padding: 12px 18px;
  color:honeydew;
}
.nav-right-tab {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30px;
  height: 40px;
  margin-right: 10px;
}
.nav-right-tab-bar {
  display: block;
  width: auto;
  height: 3px;
  background-color: black;
  border-radius: 50px;
}

/* sec1 bottom */

.head-bt-title  {
  display: inline-block;
  padding-top: 30px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.head-bt-img {
  padding-top: 30px; 
  display: flex;
  align-items: center;
}

.head-bt-img img:first-child, img:nth-child(2){
  padding-right: 20px;
}
.head-bt-btn  {
  padding-top: 20px;
  display: flex;
  font-size: 15px;
}

.head-bt-btn a:first-child {
  padding: 17px 40px;
  margin-right: 20px; 
  color:white;
  background-color:#F79214; 
} 

.head-bt-btn a:nth-child(2) {
  padding: 17px 40px;
  background-color:white; 
  border: 1px solid  #E0E0E0;
}

.head-bt-coment {
  color: #A2A2A4;
  opacity: 0.7;
  line-height: 14px; 
  font-size: 11px;  
  padding-top: 70px; 
}

.sec1-cont {
  z-index: 1;
}

.head-backimg-tab {
  position:absolute;
  display:none;
}

/* sec2 POTEPANとは */
.sec2 {
  background-color: #F79214;
  color:white;
  height: auto;
  padding: 50px 0px;
}

.sec2-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec2-coment {
  width: 550px;
}
.sec2-coment h2 {
  font-size: 40px;
  padding-bottom: 20px;
}
.sec2-btn{
  font-weight: bold;
  font-size: 21px;
  background-color: white;
  color:#F79214;
  padding: 10px 70px;
  text-align: center
}
.sec2-btn p:nth-child(2) {
  font-size: 12px; 
}

/* @mediaクエリ */
/* パソコン */
@media( min-width:1101px) {
  .container {
    width: 1000px;
   }

  .head-top {
    padding: 20px 30px;
  }
  .nav-right-tab {
    display: none; 
  }
  .head-backimg-tab {
    display: none;
  }
}
/* タブレット */
@media( max-width:1100px) {
  .container {
    width: 100%;
    padding: 0px 50px;
  }
  .sec1 {
    background-position: 70% -30%;
  }
  .head-top {
    background-color: white;
    padding: 5px 30px;
  }

  .nav-right {
    display: none;
  
  }
}
@media(max-width:950px) {
  .sec2-cont {
    flex-direction: column;
    height: 250px;
  }
}